---
import Layout from '../layouts/Layout.astro';
import NavH from '../components/NavH.astro';
import HeroH from '../components/HeroH.astro';
import Section from '../components/Section.astro';
import Timeline from '../components/Timeline.astro';
import TimelineItem from '../components/TimelineItem.astro';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Gwyn Tangog">
  <NavH />
  <HeroH />

  <Section id="VisualArts" eyebrow="" title="&#9998 Traditional Art">
    <p>I started out overwhelmed by colors, so I started by taking traditional graphite pencil lessons online! &#128221</p>

      <Gallery images={[
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/broken_tree.jpeg`, alt: "Broken Tree", subcaption:"Inspired by an image I saw, and it got me back into drawing! 🌳"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/pencil_snail.jpeg`, alt: "Snail", subcaption: "🐌"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/spotted_snake_desk.jpeg`, alt: "Ball Python", subcaption: "I like snakes. 🐍"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/colored_flowers.jpeg`, alt: "Flowers", subcaption: "A study on color and perspective. 🌼"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/colored_fruits.jpeg`, alt: "Fruits", subcaption: "First try with coloring. 🍓🍊"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/flower_vase.jpeg`, alt: "Flower Vase", subcaption: "I guess I like flowers. 🌼🌼🌼"},
        {src: `${import.meta.env.BASE_URL}/assets/trad_art/solid_snake.jpeg`, alt: "Banana Ball Python", subcaption: "I really like snakes. 🐍🐍🐍"},
      ]} />

  </Section>



  <Section id="DigitalArts" eyebrow="" title="&#128396 Digital Art">
    <p>I got inspired by an art trend going around on YouTube where artists would draw their favorite
    characters in their style. That was my first digital project! </p>

    <Gallery images={[
      {src: `${import.meta.env.BASE_URL}/assets/digital_art/motivational_gwyn.png`, alt: "Mini mascot", subcaption: "A mini mascot of myself. 😎"},
      {video: 'https://youtube.com/shorts/-MMRN1MKxKI?feature=share', alt: "Art Trend", subcaption: "My take on the Sienna art trend. It got me into digital art! 🎶"},
      {src: `${import.meta.env.BASE_URL}/assets/digital_art/shuppet.jpeg`, alt: "Shuppet", subcaption: "Shuppet absorbs negative feelings. I had the idea it would be great in a hospital."},
      {src: `${import.meta.env.BASE_URL}/assets/digital_art/phantump.jpeg`, alt: "Phantump", subcaption: "This Pokemon has no illustration rare card yet, so I decided to make my own."},
      {src: `${import.meta.env.BASE_URL}/assets/digital_art/card.jpeg`, alt: "Gwyn Card", subcaption: "A new card in the set 'Pitch Black' is named 'Gwynn'. I decided to make my own."},
    ]} />

  </Section>

   <Section id="Crochet" eyebrow="" title="&#x1F9F6 Crochet">
    <p>Got back into it after a few years since I wanted to make a plushie of my mochi
    character. &#x1F361 I like soft things.</p>

    <Gallery images={[
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_mochi_2.jpeg`, alt: "Mochi", subcaption: "My little mochi mascot. I crocheted him to life. 🍡"},
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_bunny.jpeg`, alt: "Bunny", subcaption: "Wanted to try a more complicated pattern. 🐰"},
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_turtles.jpeg`, alt: "Flower Turtles", subcaption: "I liked making crochet flowers, so I tried this out.🌹🐢"},
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_bears.jpeg`, alt: "Bears", subcaption: "My big bear, and a smaller bear that I was commissioned to make for a baby. 🐻"},
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_beanie.jpeg`, alt: "Beanie", subcaption: "Winter was coming, so I made a cat beanie with a crescent moon on it.😺🌒"},
      {src: `${import.meta.env.BASE_URL}/assets/crochet/crochet_cats.jpeg`, alt: "Cats",subcaption:"Little crochet cats! 🐈🐈‍⬛"},
    ]} />

  </Section>

   <Section id="Pokemon Cards" eyebrow="" title="&#127922 Pokemon Cards">
    <p>I started out collecting the cards a few months ago, then got into the game shortly after.
    I enjoy strategy games, and this reminds me of being excited to play chess after school in
    elementary school. &#x1F389; I collect full arts of steel types and ghost types, and I currently
    play two different decks: Dragapult &#x1F432 &#128053 and Mega Venusaur  &#x1F33F &#x2600;&#xFE0F.</p>

   <Gallery images={[
      {src: `${import.meta.env.BASE_URL}/assets/pokemon/mega_venusaur.jpeg`, alt: "Mega Venusaur", subcaption: "Not one of the strongest decks, but super fun to play with! No thoughts, only jungle dump. 🪴☀"},
      {src: `${import.meta.env.BASE_URL}/assets/pokemon/dragapult_dusk.jpeg`, alt: "Daragapult Ex", subcaption: "The current meta deck. I play these during locals to keep up, since my area is pretty competitive. 🐉" },
      {src: `${import.meta.env.BASE_URL}/assets/pokemon/Lyn_michi.jpeg`, alt: "Michi method binder", subcaption: "My sister doesn't play the game, but likes cute cards, so I prepared a michi method binder for her. 🌟 The Michi method is art of creating decorative binders with pictures. 📷"},
    ]} />

  </Section>

  <Section id="Music" eyebrow="" title="&#127908 Music">
    <p>Even though I really wanted to sing, I learned to play fingerstyle guitar because I was insecure of my voice.
    Over time, I overcame the insecurity, and I have performed as vocalist and guitarist multiple times!</p>

    <Gallery images={[
      {video: 'https://youtu.be/fsFrOO7gnws', alt: "Ghost of You", subcaption: "One of the songs that got me into singing while playing the guitar. 👻"},
      {video: 'https://youtu.be/C-I3s_9D1g0', alt: "Message in a Bottle", subcaption: "First time performing without a guitar. 🚢"},
    ]} />

  </Section>

   <Section id="Others" eyebrow="" title="&#9823 Others">
    <p>I also like playing video games and writing poetry, but there aren't any interesting pictures for those.</p>

  <Gallery images={[
      {src: `${import.meta.env.BASE_URL}/assets/others/monopoly.jpeg`, alt: "Monopoly", subcaption: "Won the capitalism simulation game. 💰"},
      {src: `${import.meta.env.BASE_URL}/assets/others/chinese_checkers.jpeg`, alt: "Chinese Checkers", subcaption: "Played with my grandma when I was younger, and I taught my friends to play!"},
      {src: `${import.meta.env.BASE_URL}/assets/others/chess.jpeg`, alt: "Chess", subcaption: "Had a hilarious game with a great player. He turned all his pawns into horses. 🐴🤣"},
      {src: `${import.meta.env.BASE_URL}/assets/others/yellow_flowers.jpeg`, alt: "Origami", subcaption: "An origami gift I made! 💐"},
      {src: `${import.meta.env.BASE_URL}/assets/others/big_origami.jpeg`, alt: "Giant Origami", subcaption: "I got access to large paper and could not resist. 🌺"},
    ]} />

  </Section>

  <Footer />
</Layout>

<style>
  .hobby-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }
</style>
